search-bar-percurso ion-searchbar ion-icon[aria-label=refresh] {
    animation: load_animation_search_bar 1.2s linear infinite;
}
search-bar-percurso ion-searchbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@keyframes load_animation_search_bar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}