.notifications_container {
    display: inline-block;
}

.notification_button {
    animation: flash ease-out 2s infinite;
}
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}
@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}
.notification_button.hightligth {
    color: #FF9800;
    box-shadow: inset 0px 0px 4px 0px;
    border-radius: 50%;
    animation: flash ease-out 2s infinite, ring 4s .7s ease-in-out infinite;
}

@keyframes ring {
    0% { transform: rotate(0); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}