ion-card-content {
    background-color: #fff;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
}


.bottom_container {
    display: flex;
}
.back_button_container {
    flex: 1;
    text-align: right;
}
.back_button ion-button {
    font-size: 12px;
    margin: 0;
}

.item_card {
    background-color: #eaeaea;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 13px;
    display: inline-block;
}
.partidas_container {
    line-height: 35px;
    padding-top: 1px;
}


@media only screen and (min-width: 800px) and (min-height: 600px) {
    ion-card-content {
        max-width: 500px;
        min-width: 400px;
    }
    .item_card {
        font-size: 15px;
    }
    .bottom_container {
        margin-top: 5px;
    }
}